
body{
    background-color: slategray;
}

header h1 {
    padding-top: 20px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    align-content: space-around;
}


.remy {
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
}

header nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    
}

.fcc-btn {
    background-color: darkgrey;
    color: navy;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 3px 8px;
}


.fcc-btn:hover {
    background-color: darkslategrey;
}

a {
    border-style: 2px solid blue;
}

img {
    border: 5px solid navy;
    margin-left: 80px;
    align-self:flex-start;
}

.about-me {
    background-color: lightgray;
    padding: 25px;
    border: 35px solid navy;
    border-radius: 10px;
    margin: 40px;
    margin-right: 100px;
    height: 200px;
    width: 1000px;
}

.work {
    background-color: lightgray;
    padding: 25px;
    border:35px solid navy;
    margin: 40px;
    margin-right: 100px;
    height: 200px;
    width: 1000px;
    border-radius: 10px;
}

.work:hover{
    background-color: darkslategray;
    cursor: pointer;

}

.resume {
    background-color: lightgray;
    padding: 25px;
    border:35px solid navy;
    margin: 40px;
    margin-right: 100px;
    height: 200px;
    width: 1000px;
    border-radius: 10px;
}
.resume:hover{
    background-color: darkslategray;
    cursor: pointer;
}

.contact {

}


p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font size: 15px;
}

.contact {
    text-align: left;
    display: block;
}

.links {
    justify-content:space-between;
    text-align: center;
    display: flex;
    margin-left: 100px;
    margin-right: 200px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 750px) {

    header,
    nav {
        flex-direction: column;
    }