/* I put a margin bottom so that there is some room to read the footer note*/
body {
    background-color: slategray;
    margin-bottom: 10rem;
}

.header h1 {
    padding-top: 20px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}


.remy {
    max-height: 500px;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 250px;
}

/* I wanted to create space between the buttons and have them in the middle of the page and also to create space between the picture*/
.header nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* I wanted to give the buttons a little depth*/
.fcc-btn {
    background-color: darkgrey;
    color: navy;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 3px 8px;
}

/* I wanted them to change color when you hover over them to give a little more interaction*/
.fcc-btn:hover {
    background-color: darkslategrey;
}

a {
    border-style: 2px solid blue;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font size: 15px;
}

h1 {
    font-size: 30px;
}

/*  */
#about-me {
    background-color: lightgray;
    font-weight: bold;
    padding: 25px;
    border: 35px solid navy;
    border-radius: 10px;
    margin-right: 100px;
    height: fit-content;
    width: 1000px;
}

#about-me img {
    max-height: 200px;
    float: left;
    padding-top: 5px;
    margin-right: 50px;
    margin-left: 25x;
    margin-bottom: 50px;
    border-radius: 10px;
}

/* I had wanted to the picture to be a link to a new page and have text over it as well. That is why i wasnt able to consolidate
any of the other sections.*/
#work {
    background-color: lightgray;
    padding: 25px;
    border: 35px solid navy;
    margin: 40px;
    margin-right: 100px;
    height: 400px;
    width: 1000px;
    border-radius: 10px;
    left: 300px;
    position: relative;
}

#work img {
    max-height: 300px;
    float: right;
    margin-right: 250px;
    margin-left: 25px;
    margin-top: 50px;
    border-radius: 10px;
}

/* I added text over the picture so you would know where it will take you before you click. 
I wanted the picture to fade out when you hover over it but couldnt figure it out yet. */
.title {
    position: absolute;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/*I linked my linkedin page to my resume as a placeholder for now and will add a way for future employers to see my resume*/
#resume {
    background-color: lightgray;
    padding: 25px;
    border: 35px solid navy;
    margin: 40px;
    margin-right: 100px;
    height: 200px;
    width: 1000px;
    border-radius: 10px;
}

#resume img {
    max-height: 200px;
    float: right;
    padding-top: 5px;
    padding-right: 150px;
    margin-right: 50px;
    margin-left: 25x;
    margin-bottom: 50px;
    border-radius: 10px;
}

.contact h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}

/*I seperated the links from the contact part so they could be buttons as well. I plan on adding image that correspond to the link that they are attached too*/
.links {
    justify-content: space-between;
    text-align: center;
    display: flex;
    margin-left: 100px;
    margin-right: 200px;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer {
    text-align: center;
}

/*I was able to link the sections together to consolidate the code and make it easier to read.*/
@media screen and (max-width: 768px) {

    .header,
    nav,
    #about-me,
    #resume,
    #contact,
    .links,
    footer {
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        padding-right: 125px;
        padding-left: 100px;
    }
}

/*I wasnt able to add this to the previous group since its acts differently because of the text overlay that i wasnt able to figure out yet.*/
@media screen and (max-width: 768px) {
    #work {
        flex-direction: column;
        padding-right: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        position: sticky;
        width: fit-content;
    }
}

@media screen and (max-width: 768px) {
    .title {
        position: relative;
        padding-right: 200px;
    }
}

@media screen and (max-width: 992px) {

    .header,
    .links,
    nav,
    footer,
    #about-me,
    #resume,
    #contact {
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        padding-right: 125px;
        padding-left: 100px;
    }
}

@media screen and (max-width: 992px) {
    #work {
        flex-direction: column;
        padding-right: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        position: sticky;
        width: fit-content;
    }
}

@media screen and (max-width: 992px) {
    .title {
        position: relative;
        padding-right: 200px;
    }
}